html, body{
	background-color: #FFF;
	font-size:100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
}

/*---HIGHLIGHT TEKST BLIVER IKKE BLÅ MEN DENNE FARVE ISTEDET---*/
::selection {
  background: #EC2F5E;
}

/*---NAVBAR---*/

nav {
	width: 100%;
	height: 10vh;
	background-color: #191919;
	overflow: auto;
	text-transform: uppercase;
	z-index: 2;
}

li {
	float: right;
}

.logo img {
	position: absolute;
	margin-top: 10px;
	width: auto;
	height: 5em;
	float: left;
	margin-left: 1em;
}

nav a {
	width: auto;
	display: block;
	padding: 1em 0.8em;
	text-decoration: none;
	color: #f2f2f2;
	text-align: center;
	overflow: hidden;
	
}

nav a:hover {
	transition: 0.2s;
	color: #EC2F5E;
	transform: 0.5s;
}

ul {
	list-style: none;
	color: black;
	font-size:1.3em;
	text-align: left;
	padding: 0;
	margin: 0 0 0 150px;
}

/*---FADEIN-EFFECT NAAR SIDE LOADER---*/
#fadein h1, h2, p, img, a {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /*---FIREFOX---*/
    -webkit-animation: fadein 2s; /*---SAFARI & CHROME---*/
    -o-animation: fadein 2s; /*---OPERA---*/
}

/*FAAR ELEMENTER TIL AT GAA FRA 0 TIL 1 OPACITY NAAR SIDE LOADER*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes fadein { /*---FIREFOX---*/
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein { /*---SAFARI & CHROME---*/
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes fadein { /*---OPERA---*/
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/*---UNDERSCORE BLINKER---*/
.blink {
  animation: blinker 1s linear infinite;
	color: #EC2F5E;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
