/* CSS Document */

section {
	height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
	background-color: #191919;
}


/*FRONTPAGE TOP*/

.start {
	height: 90vh;
	background-color: #191919;
	padding-left: 0;
	z-index: 1;
	line-height: 1em;
}

.start h1 {
	color: #f9f9f9;
	font-size: 50px;
	text-align: center;
	font-weight: 100;
	margin-top: 0;
	text-transform: uppercase;
}

.start h2 {
	color: #f9f9f9;
	font-size: 50px;
	text-align: center;
	font-weight: 700;
	margin-top: 0;
	text-transform: uppercase;
}

.start span {
	color: #EC2F5E;
	text-shadow: 1px 1px 1px #000;
	font-weight: 700;
}

/*---GRID---*/

.gridcontainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	grid-auto-rows: minmax(20em, auto);
	grid-auto-columns: minmax(10em, auto);
	background-color: #191919;
}

.img {
	grid-column: 2/4;
	color: #f9f9f9;
	overflow: inherit;
	align-items: center;
	align-self: center;
	padding: 0 1em;
}

.img img {
	width: 100%;
	height: auto;
	box-shadow: 2px 2px 6px 0px #000;
}

.text {
	grid-column: 1/2;
	overflow: auto;
	text-align: left;
	align-items: center;
	align-self: center;
	padding: 0 1em;
}

.text p {
	color: #f9f9f9;
	font-size: 18px;
	line-height: 32.4px;
}

.text h2 {
	color: #f9f9f9;
	font-size: 22px;
	font-weight: 700;
}

.text a {
	text-decoration: none;
	color: #EC2F5E; 
}

.startgridcon {
	display: grid;
	grid-template-columns: 90%;
	grid-gap: 1em;
}

.text2 {
	grid-column: 1/4;
	overflow: auto;
	padding: 1em;
	align-items: center;
	align-self: center;
}

